* {
  min-height: 20px;
  font-size: 12px;
  /* `otf-font-awesome` is required to be installed for icons */
  font-family: "otf-font-awesome", "JetBrainsMono Nerd Font";
  border: 2px;
  border-radius: 0.4rem;
  /*font-weight: bold;*/
}

.horizontal {
  padding: 2px;
}

/*.horizontal:nth-child(2) {*/
/*padding: 0;*/
/*}*/

window#waybar {
  margin-top: 0;
  padding: 0;
  border-radius: 20px 20px 0px 0px;
  background-color: transparent;
  border-bottom: 0;
}

window#waybar.hidden {
  opacity: 0.2;
}

#workspaces button {
  margin: 0px 2px;
  padding: 0.5rem;
  background: #2b2724;
  color: #cc9d80;

  border-radius: 0.4rem;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
  color: #ffffff;
  background: rgba(0, 1, 51, 0.6);
  box-shadow: inherit;
}

#workspaces button.focused {
  color: #2b2724;
  background: #4D7378;
}

#workspaces button.urgent {
  background-color: #eb4d4b;
}

#custom-power{
  margin: 4px 4px;
  padding: 0.5rem 0.9rem;
  /*color: #d8dee9;*/
  /*background: #2b2724;*/
  color: #C77750;
  background: #2b2724;
  border-radius: 10px;;
}

#clock,
#battery,
#cpu,
#memory,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,

#custom-logo,
#tray,
#mode,
#idle_inhibitor,
#mpd,
#custom-emailicon,
#custom-unreademail,
#custom-pacman-package-count,
#custom-icon-cube {
  margin: 4px 4px;
  padding: 0.5rem 0.9rem;
  /*color: #d8dee9;*/
  /*background: #2e3440;*/
  color: #C77750;
  background: #2b2724;
  border-radius: 10px;


}

#calendar{
  background: #2b2724;
  color: #4D7378;

}

@keyframes blink {
  to {
    color: #2e3440;
    background-color: #ffffff;
  }
}

#battery.critical:not(.charging) {
  color: #ffffff;
  background-color: #f53c3c;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

label:focus {
  background-color: #2e3440;
}

#backlight.value {
  min-width: 20px;
}

#network.disconnected {
  color: #ff0000;
}

#pulseaudio.muted.icon {
  background-color: gray;
  /*color: #2a5c45;*/
}

#custom-media {
  min-width: 100px;
  color: #2a5c45;
  background-color: #66cc99;
}

#custom-media.custom-spotify {
  background-color: #66cc99;
}

#custom-media.custom-vlc {
  background-color: #ffa000;
}

#temperature.critical {
  background-color: #eb4d4b;
}

#custom-logo {
  color: #7b4a31;
  font-size: 1.15em;
  background: #2b2724;
}

#pulseaudio.icon,
#custom-emailicon,
#backlight.icon,
#clock,
#custom-icon-cube {
  /*background: #2b2724;*/
  color: #C77750;

  /* /\* pride month *\/ */
  /* background: linear-gradient( */
  /*   180deg, */
  /*   #f00000, */
  /*   #f00000 16.67%, */
  /*   #ff8000 16.67%, */
  /*   #ff8000 33.33%, */
  /*   #ffff00 33.33%, */
  /*   #ffff00 50%, */
  /*   #007940 50%, */
  /*   #007940 66.67%, */
  /*   #4040ff 66.67%, */
  /*   #4040ff 83.33%, */
  /*   #a000c0 83.33%, */
  /*   #a000c0 */
  /* ); */
  background: #2b2724;
}

#custom-unreademail {
  min-width: 15px;
  background: #282a36;
}
